.alt-header {
  margin-top: 10px;
  padding: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

.alt-header__title {
  font-weight: 600;
  font-size: 25px;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  text-align: end;
}
